body{
    margin: 0;
    padding: 0;
}
#formPage{
    display:flex;
}
.left-part{
    display: flex;
    align-items: center;
    justify-content:center ;
    width:35vw;
    height: 100vh;
    background-image:url(/Users/user/project_signup/formimage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.right-part{
    width:65vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}
.theForm{
    height: 80vh; 
    width: 65vw;
}
.formText{
    height: 15vh;
    width: 40vw;
    font-size: 18px;
    font-weight: 800;
    margin-left: 4vw;
}
.formHeader{
    font-size: 21px;
    font-weight: 700;
    margin-left: 4vw;
}
.formContainer{
    margin-top:8vh;
    display: flex;
    background: white;
}
.formContainer .form{
    margin-left: 4vw;
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.form div{
    min-width: 25vw;
    margin-top:2vh ;
}
.form div>input{
width: 20vw;
height: 4vh;
border-radius: 5px;
border: 1px solid #E5E7EB;
}
.pageLogo{
  color: white;  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.pageLogo img{
    width: 9vw;
}
.submitBtn{
    margin-top: 4vh;
    margin-left: 4vw;
}
.submitBtn div{
    margin-top: 4vh;
    font-size: 20px;
}
.submitBtn button{
    width:15vw ;
    height: 6vh;
    border-radius: 5px;
    border: none;
    background: #596D48;
    color: white;
}
.logoContainer{
    background-color: rgba(0,0,0,0.5);
    width: 35vw;
}
a{
    color: #596D48;
    text-decoration: none;
}
